
:root {
  --nav-bar-height: 56px;
  --default-padding: 24px;

  --pinstripe-border-color: rgba(0, 0, 0, 0.2);
  --pinstripe-border: 1px solid var(--pinstripe-border-color);
  --pinstripe-border-dashed: 1px dashed var(--pinstripe-border-color);

  --sub-header-height: 48px;
}

