/*
 * Remove template code below
 */
:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .layout {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}

